@import 'tailwindcss';
@plugin 'daisyui';
@import './lib/styles/brand.css';

html,
body {
	margin: 0;
	padding: 0;
	font-family:
		'Chakra Petch',
		'Segoe UI',
		sans-serif;
}

* {
	box-sizing: border-box;
}
