@import 'tailwindcss';
@plugin 'daisyui';
@import './lib/styles/brand.css';

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Bricolage Grotesque', 'Segoe UI', sans-serif;
}

* {
	box-sizing: border-box;
}
